In [34]:
import pandas as pd

In [35]:
# Concatenate the directory path and file name
file_path = f'{"singhadurbar_re"}/{"Singhadurbar_01.xlsx"}'

In [36]:
merged_data = pd.read_excel(file_path)

In [37]:
file_path2 = f'{"singhadurbar_re"}/{"Singhadurbar_02.xlsx"}'
singhadurbar_02 = pd.read_excel(file_path2)

In [38]:
print(merged_data)

      FrameNumber  ObjectID  ObjectType  Direction
0               5         0      person  SouthWest
1               7         0      person  SouthWest
2              15         3  motorcycle  SouthWest
3              18         0      person  SouthWest
4              22         0      person  SouthWest
...           ...       ...         ...        ...
1084        16754         0      person  SouthWest
1085        16773         3  motorcycle  SouthWest
1086        16776         2         car  SouthWest
1087        16776         3  motorcycle  NorthEast
1088        16777         2         car  SouthWest

[1089 rows x 4 columns]

In [39]:
singhadurbar_02['FrameNumber'] += 16800

In [40]:
print(singhadurbar_02)

      FrameNumber  ObjectID  ObjectType  Direction
0           16805         2         car  SouthWest
1           16814         7       truck  NorthEast
2           16907         2         car  NorthEast
3           16910         3  motorcycle  SouthWest
4           16911         0      person  SouthWest
...           ...       ...         ...        ...
1082        33559         0      person  SouthWest
1083        33569         0      person  SouthWest
1084        33573         0      person  SouthWest
1085        33574         0      person  SouthWest
1086        33584         0      person  SouthWest

[1087 rows x 4 columns]

In [41]:
#merged gyaneshwor_1 and gyaneshwor_2
merged_data2 = pd.concat([merged_data,singhadurbar_02], ignore_index = True)

In [42]:
print(merged_data2)

      FrameNumber  ObjectID  ObjectType  Direction
0               5         0      person  SouthWest
1               7         0      person  SouthWest
2              15         3  motorcycle  SouthWest
3              18         0      person  SouthWest
4              22         0      person  SouthWest
...           ...       ...         ...        ...
2171        33559         0      person  SouthWest
2172        33569         0      person  SouthWest
2173        33573         0      person  SouthWest
2174        33574         0      person  SouthWest
2175        33584         0      person  SouthWest

[2176 rows x 4 columns]

In [43]:
file_path3 = f'{"singhadurbar_re"}/{"Singhadurbar_03.xlsx"}'
singhadurbar_03 = pd.read_excel(file_path3)
print(singhadurbar_03)

      FrameNumber  ObjectID  ObjectType  Direction
0               5         3  motorcycle  NorthEast
1               5         3  motorcycle  NorthEast
2               6         3  motorcycle  SouthWest
3               9         0      person  SouthWest
4              14         3  motorcycle  NorthEast
...           ...       ...         ...        ...
1961        22372         3  motorcycle  SouthWest
1962        22375         3  motorcycle  SouthWest
1963        22378         0      person  SouthWest
1964        22383         3  motorcycle  SouthWest
1965        22386         0      person  SouthWest

[1966 rows x 4 columns]

In [44]:
singhadurbar_03['FrameNumber'] += 16800

In [45]:
singhadurbar_03['FrameNumber'] += 16786

In [46]:
print(singhadurbar_03)

      FrameNumber  ObjectID  ObjectType  Direction
0           33591         3  motorcycle  NorthEast
1           33591         3  motorcycle  NorthEast
2           33592         3  motorcycle  SouthWest
3           33595         0      person  SouthWest
4           33600         3  motorcycle  NorthEast
...           ...       ...         ...        ...
1961        55958         3  motorcycle  SouthWest
1962        55961         3  motorcycle  SouthWest
1963        55964         0      person  SouthWest
1964        55969         3  motorcycle  SouthWest
1965        55972         0      person  SouthWest

[1966 rows x 4 columns]

In [47]:
merged_data3 = pd.concat([merged_data2,singhadurbar_03], ignore_index = True)

In [48]:
print(merged_data3)

      FrameNumber  ObjectID  ObjectType  Direction
0               5         0      person  SouthWest
1               7         0      person  SouthWest
2              15         3  motorcycle  SouthWest
3              18         0      person  SouthWest
4              22         0      person  SouthWest
...           ...       ...         ...        ...
4137        55958         3  motorcycle  SouthWest
4138        55961         3  motorcycle  SouthWest
4139        55964         0      person  SouthWest
4140        55969         3  motorcycle  SouthWest
4141        55972         0      person  SouthWest

[4142 rows x 4 columns]

In [49]:
file_path4 = f'{"singhadurbar_re"}/{"Singhadurbar_04.xlsx"}'
singhadurbar_04 = pd.read_excel(file_path4)

In [50]:
print(singhadurbar_04)

     FrameNumber  ObjectID  ObjectType  Direction
0              4         0      person  SouthEast
1             15         0      person  NorthEast
2             16         2         car  SouthWest
3             16         3  motorcycle  NorthEast
4             29         3  motorcycle  SouthWest
..           ...       ...         ...        ...
637         6965         0      person  NorthEast
638         6965         0      person  NorthEast
639         6972         0      person  NorthEast
640         6975         3  motorcycle  NorthEast
641         6985         3  motorcycle  NorthEast

[642 rows x 4 columns]

In [51]:
singhadurbar_04['FrameNumber'] += (16800 + 16786 + 22400)

In [52]:
print(singhadurbar_04)

     FrameNumber  ObjectID  ObjectType  Direction
0          55990         0      person  SouthEast
1          56001         0      person  NorthEast
2          56002         2         car  SouthWest
3          56002         3  motorcycle  NorthEast
4          56015         3  motorcycle  SouthWest
..           ...       ...         ...        ...
637        62951         0      person  NorthEast
638        62951         0      person  NorthEast
639        62958         0      person  NorthEast
640        62961         3  motorcycle  NorthEast
641        62971         3  motorcycle  NorthEast

[642 rows x 4 columns]

In [53]:
merged_data4 = pd.concat([merged_data3,singhadurbar_04], ignore_index = True)

In [54]:
print(merged_data4)

      FrameNumber  ObjectID  ObjectType  Direction
0               5         0      person  SouthWest
1               7         0      person  SouthWest
2              15         3  motorcycle  SouthWest
3              18         0      person  SouthWest
4              22         0      person  SouthWest
...           ...       ...         ...        ...
4779        62951         0      person  NorthEast
4780        62951         0      person  NorthEast
4781        62958         0      person  NorthEast
4782        62961         3  motorcycle  NorthEast
4783        62971         3  motorcycle  NorthEast

[4784 rows x 4 columns]

In [55]:
file_path5 = f'{"singhadurbar_re"}/{"Singhadurbar_05.xlsx"}'
singhadurbar_05 = pd.read_excel(file_path5)
print(singhadurbar_05)

      FrameNumber  ObjectID  ObjectType  Direction
0              11         2         car  NorthEast
1              37         2         car  NorthEast
2              82         7       truck  SouthWest
3             156         0      person  SouthWest
4             158         0      person  SouthWest
...           ...       ...         ...        ...
4717        41972         3  motorcycle  NorthEast
4718        41984         0      person  SouthEast
4719        41986         0      person  NorthEast
4720        41993         0      person  SouthEast
4721        41993         3  motorcycle  NorthEast

[4722 rows x 4 columns]

In [56]:
singhadurbar_05['FrameNumber'] += (16800 + 16786 + 22400 + 6986)
print(singhadurbar_05)

      FrameNumber  ObjectID  ObjectType  Direction
0           62983         2         car  NorthEast
1           63009         2         car  NorthEast
2           63054         7       truck  SouthWest
3           63128         0      person  SouthWest
4           63130         0      person  SouthWest
...           ...       ...         ...        ...
4717       104944         3  motorcycle  NorthEast
4718       104956         0      person  SouthEast
4719       104958         0      person  NorthEast
4720       104965         0      person  SouthEast
4721       104965         3  motorcycle  NorthEast

[4722 rows x 4 columns]

In [57]:
merged_data5 = pd.concat([merged_data4,singhadurbar_05], ignore_index = True)
print(merged_data5)

      FrameNumber  ObjectID  ObjectType  Direction
0               5         0      person  SouthWest
1               7         0      person  SouthWest
2              15         3  motorcycle  SouthWest
3              18         0      person  SouthWest
4              22         0      person  SouthWest
...           ...       ...         ...        ...
9501       104944         3  motorcycle  NorthEast
9502       104956         0      person  SouthEast
9503       104958         0      person  NorthEast
9504       104965         0      person  SouthEast
9505       104965         3  motorcycle  NorthEast

[9506 rows x 4 columns]

In [58]:
file_path6 = f'{"singhadurbar_re"}/{"Singhadurbar_06.xlsx"}'
singhadurbar_06 = pd.read_excel(file_path6)
print(singhadurbar_06)

      FrameNumber  ObjectID    ObjectType  Direction
0               4         0        person  SouthWest
1               8         3    motorcycle  SouthWest
2              10         0        person  SouthWest
3              22         3    motorcycle  SouthWest
4              23         0        person  SouthWest
...           ...       ...           ...        ...
5819        53732         3    motorcycle  NorthEast
5820        54082         0        person  SouthWest
5821        54082         7         truck  SouthEast
5822        54589         3    motorcycle  NorthEast
5823        54605        10  fire hydrant  NorthWest

[5824 rows x 4 columns]

In [59]:
singhadurbar_06['FrameNumber'] += (16800 + 16786 + 22400 + 6986 + 42000)
print(singhadurbar_06)

      FrameNumber  ObjectID    ObjectType  Direction
0          104976         0        person  SouthWest
1          104980         3    motorcycle  SouthWest
2          104982         0        person  SouthWest
3          104994         3    motorcycle  SouthWest
4          104995         0        person  SouthWest
...           ...       ...           ...        ...
5819       158704         3    motorcycle  NorthEast
5820       159054         0        person  SouthWest
5821       159054         7         truck  SouthEast
5822       159561         3    motorcycle  NorthEast
5823       159577        10  fire hydrant  NorthWest

[5824 rows x 4 columns]

In [63]:
merged_data6 = pd.concat([merged_data5,singhadurbar_06], ignore_index = True)
print(merged_data6)

       FrameNumber  ObjectID    ObjectType  Direction
0                5         0        person  SouthWest
1                7         0        person  SouthWest
2               15         3    motorcycle  SouthWest
3               18         0        person  SouthWest
4               22         0        person  SouthWest
...            ...       ...           ...        ...
15325       158704         3    motorcycle  NorthEast
15326       159054         0        person  SouthWest
15327       159054         7         truck  SouthEast
15328       159561         3    motorcycle  NorthEast
15329       159577        10  fire hydrant  NorthWest

[15330 rows x 4 columns]

In [61]:
file_path7 = f'{"singhadurbar_re"}/{"Singhadurbar_07.xlsx"}'
singhadurbar_07 = pd.read_excel(file_path7)
print(singhadurbar_07)

      FrameNumber  ObjectID  ObjectType  Direction
0             755         7       truck  SouthWest
1             786         3  motorcycle  SouthWest
2             787         0      person  SouthWest
3            1013         3  motorcycle  SouthWest
4            1189         0      person  SouthEast
...           ...       ...         ...        ...
1975        19864         2         car  NorthEast
1976        19866         2         car  SouthWest
1977        19979         7       truck  SouthWest
1978        20055         2         car  NorthEast
1979        20135         2         car  SouthWest

[1980 rows x 4 columns]

In [62]:
singhadurbar_07['FrameNumber'] += (16800 + 16786 + 22400 + 6986 + 42000 + 56000)
print(singhadurbar_07)

      FrameNumber  ObjectID  ObjectType  Direction
0          161727         7       truck  SouthWest
1          161758         3  motorcycle  SouthWest
2          161759         0      person  SouthWest
3          161985         3  motorcycle  SouthWest
4          162161         0      person  SouthEast
...           ...       ...         ...        ...
1975       180836         2         car  NorthEast
1976       180838         2         car  SouthWest
1977       180951         7       truck  SouthWest
1978       181027         2         car  NorthEast
1979       181107         2         car  SouthWest

[1980 rows x 4 columns]

In [64]:
merged_data7 = pd.concat([merged_data6,singhadurbar_07], ignore_index = True)
print(merged_data7)

       FrameNumber  ObjectID  ObjectType  Direction
0                5         0      person  SouthWest
1                7         0      person  SouthWest
2               15         3  motorcycle  SouthWest
3               18         0      person  SouthWest
4               22         0      person  SouthWest
...            ...       ...         ...        ...
17305       180836         2         car  NorthEast
17306       180838         2         car  SouthWest
17307       180951         7       truck  SouthWest
17308       181027         2         car  NorthEast
17309       181107         2         car  SouthWest

[17310 rows x 4 columns]

In [65]:
merged_data7.to_excel('SinghaDurbar_Final.xlsx', index=False)

In [66]:
print(len(merged_data) + len(singhadurbar_02) + len(singhadurbar_03) + len(singhadurbar_04) + len(singhadurbar_05) + len(singhadurbar_06) + len(singhadurbar_07))

17310

In [67]:
print(len(merged_data7))

17310